<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hos.one.dao.BrandMapper">
  <resultMap id="BaseResultMap" type="com.hos.one.entity.Brand">
    <constructor>
      <idArg column="brandid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="brandname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="brandpicurl" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    brandid, brandname, brandpicurl
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from brand
    where brandid = #{brandid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from brand
    where brandid = #{brandid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hos.one.entity.Brand">
    insert into brand (brandid, brandname, brandpicurl
      )
    values (#{brandid,jdbcType=INTEGER}, #{brandname,jdbcType=VARCHAR}, #{brandpicurl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hos.one.entity.Brand">
    insert into brand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="brandid != null">
        brandid,
      </if>
      <if test="brandname != null">
        brandname,
      </if>
      <if test="brandpicurl != null">
        brandpicurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="brandid != null">
        #{brandid,jdbcType=INTEGER},
      </if>
      <if test="brandname != null">
        #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="brandpicurl != null">
        #{brandpicurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hos.one.entity.Brand">
    update brand
    <set>
      <if test="brandname != null">
        brandname = #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="brandpicurl != null">
        brandpicurl = #{brandpicurl,jdbcType=VARCHAR},
      </if>
    </set>
    where brandid = #{brandid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hos.one.entity.Brand">
    update brand
    set brandname = #{brandname,jdbcType=VARCHAR},
      brandpicurl = #{brandpicurl,jdbcType=VARCHAR}
    where brandid = #{brandid,jdbcType=INTEGER}
  </update>
</mapper>