<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hos.one.dao.RoomtypeMapper">
  <resultMap id="BaseResultMap" type="com.hos.one.entity.Roomtype">
    <constructor>
      <idArg column="hotelid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="roomtype" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="num" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="price" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="discount" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    hotelid, roomtype, num, price, discount
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from roomtype
    where hotelid = #{hotelid,jdbcType=INTEGER}
      and roomtype = #{roomtype,jdbcType=VARCHAR}
  </select>
  <select id="selectAllRoomtypeByHotelid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from roomtype
    where hotelid = #{hotelid,jdbcType=INTEGER}
  </select>
  <select id="selectByHotelId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from roomtype
    where hotelid = #{hotelid,jdbcType=INTEGER}
  </select>
  <select id="selectHasDiscountHotel" resultType="java.lang.Integer">
    select
    distinct  hotelid
    from roomtype
    where discount>0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from roomtype
    where hotelid = #{hotelid,jdbcType=INTEGER}
      and roomtype = #{roomtype,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hos.one.entity.Roomtype">
    insert into roomtype (hotelid, roomtype, num, 
      price, discount)
    values (#{hotelid,jdbcType=INTEGER}, #{roomtype,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, 
      #{price,jdbcType=DOUBLE}, #{discount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hos.one.entity.Roomtype">
    insert into roomtype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hotelid != null">
        hotelid,
      </if>
      <if test="roomtype != null">
        roomtype,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="discount != null">
        discount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hotelid != null">
        #{hotelid,jdbcType=INTEGER},
      </if>
      <if test="roomtype != null">
        #{roomtype,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hos.one.entity.Roomtype">
    update roomtype
    <set>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=INTEGER},
      </if>
    </set>
    where hotelid = #{hotelid,jdbcType=INTEGER}
      and roomtype = #{roomtype,jdbcType=VARCHAR}
  </update>
  <update id="updateByOrder" parameterType="map">
    update roomtype
    <set>
        num = num - #{minusnum,jdbcType=INTEGER},
    </set>
    where hotelid = #{hotelid,jdbcType=INTEGER}
    and roomtype = #{roomtype,jdbcType=VARCHAR}
  </update>
  <update id="updateByOrderTui" parameterType="map">
    update roomtype
    <set>
      num = num + #{addnum,jdbcType=INTEGER},
    </set>
    where hotelid = #{hotelid,jdbcType=INTEGER}
    and roomtype = #{roomtype,jdbcType=VARCHAR}
  </update>
  <select id="getAvgPriceByHotelid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select avg(price)
    from roomtype
    where hotelid = #{hotelid,jdbcType=INTEGER}
  </select>
  <select id="getDiscountByHotelid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select sum(discount)
    from roomtype
    where hotelid = #{hotelid,jdbcType=INTEGER}
  </select>
  <update id="updateByPrimaryKey" parameterType="com.hos.one.entity.Roomtype">
    update roomtype
    set num = #{num,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      discount = #{discount,jdbcType=INTEGER}
    where hotelid = #{hotelid,jdbcType=INTEGER}
      and roomtype = #{roomtype,jdbcType=VARCHAR}
  </update>
</mapper>